.canvasMain
{
	margin: auto;
	padding: 10px;
	display: block;
}

/*Sunflower*/
@font-face {
	font-family: 'Sunflower-Bold';
	src: url('./../fonts/Sunflower/Sunflower-Bold.ttf');
}

@font-face {
	font-family: 'Sunflower-Light';
	src: url('./../fonts/Sunflower/Sunflower-Light.ttf');
}

@font-face {
	font-family: 'Sunflower-Medium';
	src: url('./../fonts/Sunflower/Sunflower-Medium.ttf');
}

@font-face {
	font-family: 'first-snow';
	src: url('./../fonts/first-snow-font/Firstsnow-nRYmg.ttf');
}

@font-face {
	font-family: 'frostbitten-wanker';
	src: url('./../fonts/frostbitten-wanker-font/FrostbittenWanker-1R32.ttf');
}

@font-face {
	font-family: 'ice-and-snow';
	src: url('./../fonts/ice-and-snow-font/IceAndsnowNormal-2ve8.ttf');
}

@font-face {
	font-family: 'polar-vortex';
	src: url('./../fonts/polar-vortex-font/PolarVortex-raAA.ttf');
}